@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Public Sans", sans-serif;
}

.btn-green-gradient {
  display: inline-block;
  border: transparent;
  color: white;
  padding: 0.8rem 1.9rem;
  font-size: 1rem;
  border-radius: 100px;
  font-weight: 400;
  cursor: pointer;
  background: linear-gradient(to right, #31d35c 10%, #31d35c 9%, #2bb7da 70%);
}

nav {
  z-index: 40;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 1rem;
}
nav .ham {
  width: 13%;
  cursor: pointer;
}
nav .ham .ham img {
  width: 100%;
  height: 100%;
}
nav .logo {
  width: 150px;
}
nav .logo img {
  width: 100%;
  height: 100%;
}
nav .phone-navlinks-cover {
  position: fixed;
  top: 7%;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#2d314d, rgba(45, 49, 77, 0.109), rgba(45, 49, 77, 0));
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition: 1s all ease-in-out;
}
nav .phone-navlinks-cover.show {
  opacity: 1;
  visibility: visible;
}
nav .navlinks {
  background-color: #ffffff;
  width: 86%;
  border-radius: 6px;
  padding: 1rem 0.9rem;
  text-align: center;
  font-size: 400;
  margin: 8% auto;
}
nav .navlinks li {
  list-style: none;
  margin: 9% 0;
}
nav .navlinks li a {
  text-decoration: none;
  color: #3d3f4c;
  color: #2d314d;
  font-size: 1.2rem;
}
nav .navlinks.animate_navlinks {
  animation: Translater 2s;
}

.laptopOnly {
  display: none;
}

.hero-section {
  border: 1px solid green;
  background-color: #fafafa;
  z-index: -1;
  position: relative;
}

.hero-section__bigPhoneImage_container {
  z-index: -1;
  position: relative;
  height: 328px;
}
.hero-section__bigPhoneImage_container .img-bg-for-mobile {
  width: 100%;
  height: 100%;
}
.hero-section__bigPhoneImage_container .img-bg-for-desktop {
  display: none;
}
.hero-section__bigPhoneImage_container .image_of_phone {
  position: absolute;
  top: -39%;
  left: 0;
  width: 100%;
}

.hero-section__content-section {
  color: #2d314d;
  text-align: center;
}
.hero-section__content-section h1 {
  font-weight: 200;
  font-size: 2.5rem;
  margin-bottom: 1.4rem;
}
.hero-section__content-section p {
  color: #9698a6;
  margin: 6% 0;
  padding: 0 1.2rem;
  line-height: 23px;
}
.hero-section__content-section .hero-section__btn {
  margin: 5% 0;
}

@media screen and (min-width: 800px) {
  nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.2rem 2rem;
  }
  nav .ham {
    display: none;
  }
  nav .phone-navlinks-cover {
    opacity: 1;
    visibility: visible;
    position: static;
    width: 40%;
    background: none;
  }
  nav .navlinks {
    width: 100%;
    margin: 0;
    flex-direction: row;
    padding: 0;
  }
  nav .navlinks ul {
    display: flex;
    justify-content: space-between;
  }
  nav .navlinks li {
    margin: 0;
  }
  nav .navlinks li a {
    color: #8d8c91;
    font-size: 1rem;
  }

  .laptopOnly {
    display: inline-block;
  }
}
@media screen and (min-width: 1000px) {
  nav {
    padding: 1.2rem 3rem;
  }

  nav .phone-navlinks-cover {
    width: 30%;
  }
}
@keyframes Translater {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}